@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap";
* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-green: #50fa7b;
}

body {
    background-color: #0B0A0D;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #111116;
    height: 30px;
    padding: 30px;
    text-align: center;
}

header a {
    margin: 30px;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
    transition: color 200ms;
}

header a:hover {
    color: var(--color-green);
}