{% extends "layout.njk" %} {% block content %}
<section id="about">
    <img src="https://avatars2.githubusercontent.com/u/28929274?s=400&v=4" alt="Logo rocketSeat">
    <h1>Rocketseat</h1>
    <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>
    <ul>
        <li>React</li>
        <li>React Native</li>
        <li>NodeJS</li>
    </ul>

    <div class="links">
        <a href="">Github</a>
        <a href="">Instagram</a>
        <a href="">Facebook</a>
    </div>

</section>
{% endblock %}