{% extends "layout.njk" %}
{% block content %}
    <section id="about">
        <img src="{{user.photo}}" alt="Logo rocketSeat">
        <h1>{{user.title}}</h1>
        <p>{{user.description}}</p>
        <ul>
            {% for skill in user.skills %}
                <li>{{ skill.name }}</li>
            {% endfor %}
        </ul>

        <div class="links">
            {%for link in user.links %}
                <a target="_blank" href="{{link.url}}">{{link.name}}</a>
            {% endfor %}
        </div>

    </section>
{% endblock %}