{% extends "layout.njk" %}
{% block header %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block content %}

<section id="content">
    <h1>Conteúdos</h1>
    <div class="courses">
    {%for course in courses%}
        <div id="{{course.id}}" class="course">
            <img src="{{course.logo}}" alt="Starter">
            <p class="course__modulos">{{course.module}}</p>
            <a class="course__price__purchase">{{course.price}}</a>
        </div>
        {% endfor %}
    </div>
</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="maximize-modal">
            <i class="material-icons">
                maximize
            </i>
        </a>
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>
<script src="app.js"></script>
{% endblock %}