@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900&display=swap";
:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
}

.links a:hover {
    color: var(--color-green);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
    height: 250px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 8px;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
    font-size: 20px;
    line-height: 30px;
}

#wrapper p a {
    color: var(--color-green);
    text-decoration: none;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}


/* ===== Classes ====== */

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    border-radius: 20px;
    text-align: center;
}


/* ==== Modal ==== */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}


/* ==== Modal Active ==== */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}