<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Site</title>
</head>

<body>
    <header>
        <div class="links">
            <a href="index.html">Sobre</a>
            <a href="classes.html">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/26663338?s=460&v=4" alt="Gabriel Caiana">
        <h1>Gabriel Caiana</h1>
        <h2>Web Developer</h2>
        <p>Apaixonado por programação e Design, conheca meu site: <a target="_blank" href="//gabrielcaiana.com">gabrielcaiana.com</a></p>
    </div>

    <div id="links-footer" class="links">
        <a target="_blank" href="//github.com/gabrielcaiana">Github</a>
        <a target="_blank" href="//twitter.com/guedescgabriel">Twitter</a>
        <a target="_blank" href="//linkedin.com/in/gabrielcaiana">Linkedin</a>
    </div>

</body>

</html>