<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css"> {% block head %}
    <title>Gabriel Caiana</title>
    {% endblock %}
</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    {% block content %} {% endblock %}

</body>

</html>