{% extends "layout.html" %}

{% block head %}

<title>Portfolio - Gabriel Caiana</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %} 

{% block content %}

<div id="wrapper">
    <h1>Aulas</h1>
</div>

<section class="cards">

    <div class="card" id="7A4UQGrFU9Q">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/7A4UQGrFU9Q/maxresdefault.jpg" alt="video-aula-react">
        </div>
        <div class="card__content">
            <p>Iniciando com React.JS</p>
        </div>
        <div class="card__info">
            <p>48 min</p>
            <p class="card__price">
                Free
            </p>
        </div>
    </div>

    <div class="card" id="GSqR2i-Pq6o">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/GSqR2i-Pq6o/maxresdefault.jpg" alt="video-aula-react">
        </div>
        <div class="card__content">
            <p>Desvendando a variável This</p>
        </div>
        <div class="card__info">
            <p>14 min</p>
            <p class="card__price">
                Free
            </p>
        </div>
    </div>

    <div class="card" id="2alg7MQ6_sI">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/2alg7MQ6_sI/maxresdefault.jpg" alt="video-aula-react">
        </div>
        <div class="card__content">
            <p>Git e Github na prática</p>
        </div>
        <div class="card__info">
            <p>36 min</p>
            <p class="card__price">
                Free
            </p>
        </div>
    </div>

    <div class="card" id="ghTrp1x_1As">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/ghTrp1x_1As/maxresdefault.jpg" alt="video-aula-react">
        </div>
        <div class="card__content">
            <p>O que é uma API Rest e RestFull</p>
        </div>
        <div class="card__info">
            <p>33 min</p>
            <p class="card__price">
                Free
            </p>
        </div>
    </div>

    <div class="card" id="GykTLqODQuU">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="video-aula-react">
        </div>
        <div class="card__content">
            <p>Formulário animado com JS e CSS</p>
        </div>
        <div class="card__info">
            <p>57 min</p>
            <p class="card__price">
                Free
            </p>
        </div>
    </div>

    <div class="card" id="Rt-xG_VzD6M">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/Rt-xG_VzD6M/maxresdefault.jpg" alt="video-aula-react">
        </div>
        <div class="card__content">
            <p>CLI do Zero com Node + Gluegun</p>
        </div>
        <div class="card__info">
            <p>36 min</p>
            <p class="card__price">
                Free
            </p>
        </div>
    </div>

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="app.js"></script>

{% endblock %}