<footer>
 <p>Endereço da empresa (Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188);</p>
 <span>Direitos autorais (Rocketseat © 2020 - Todos os direitos reservados).</span>
</footer>